//variables

//font sizes que se repiten
$h1-font-size:2.5rem;

//colores que se repiten
$h1-color: rgb(44, 44, 36);
$h1-background-color: rgb(199, 199, 187);
$general-background-color:rgb(247, 247, 245);